---

import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import Footer from "../../components/Com-Foo/Footer.astro";

export async function getStaticPaths() {
  const collections = await Promise.all([
    getCollection("Inter"),
    getCollection("books"),
  ]);
  const paths = collections.flatMap((collection, index) =>
    collection.map((item) => ({
      params: { id: item.slug },
      props: { item, type: index === 0 ? "Intermedio" : "Basico" },
    }))
  );
  return paths;
}

const { item, type } = Astro.props;
const { title, img, description } = item.data;
const { Content } = await render(item);
export const prerender = true;
---

<Layout title={`${title} - gooflesdoa`} description="">
  <div class="bg-gradient-to-r text-white min-h-screen">
    <br><br>
    <div class="max-w-7xl mx-auto px-4 py-8 flex flex-col gap-8 items-center md:flex-row md:gap-8">
      <!-- Sección de la imagen -->
      <div class="flex-shrink-0 w-full md:w-auto">
        <img 
          class="rounded-lg w-full h-auto shadow-lg" 
          src={`/${img}`} 
          alt={title} 
        />
      </div>
      
      <!-- Sección del contenido -->
      <div class="flex-1">
        <h1 class="text-3xl font-bold leading-tight mb-4 md:text-5xl">{title}</h1>
        
        <div class="flex flex-wrap items-center gap-4 text-sm text-gray-300 mb-4">
          <span class="bg-green-600 text-white px-3 py-1 rounded-full">{type}</span>
          <span class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 24 24">
              <path d="M12 17.27l5.18 3.73-1.64-7.03L20 9.24l-7.19-.61L12 2 11.19 8.63 4 9.24l4.46 4.73L6.82 21z"/>
            </svg>
            0 Reacciones
          </span>
          <span>Publicado el 15 de noviembre de 2024</span>
        </div>

        <p class="text-base text-gray-200 mb-6 md:text-lg">{description}</p>
        <div>
          <Content/>
          <button class="bg-green-600 text-white px-6 py-2 w-full md:w-auto rounded-full hover:bg-green-700 transition">
            Ver curso
          </button>
        </div>
      </div>
      
    </div>
  </div>
  <Footer/>
</Layout>
