---
import { getCollection } from 'astro:content';
const books = await getCollection('books');
---
<section class="">
 

  <section aria-label="Featured Books" class="w-screen flex justify-center bg-bgDark2 relative">
    <div class="pb-0 pt-4 bg-bgDark2 max-w-screen-xl">
      <div class="container px-4 mb-20">
        <div class="max-w-2xl text-center lg:text-left mb-10 mx-auto lg:ml-0 lg:mr-0">
          <span class="block-subtitle">Courses</span>
          <h2 class="mt-6 mb-6 text-4xl lg:text-5xl font-bold font-heading text-primaryText">
            Available
          </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 items-start">
          {books.map(({ slug, data: { title, img, readtime, description } }, index) => (
            <article  class="flex flex-col bg-bgDark3 rounded-3xl p-6 hover:bg-bgDark3Hover transition cursor-pointer">
              <a href={`/libro/${slug}`} class="mb-4 group">
                <img
                  src={`/${img}`}
                  alt={title}
                  class="rounded-3xl w-full h-48 object-cover transition-transform duration-300 group-hover:scale-105"
                  aria-label={title}
                />
              </a>
              <div class="flex flex-col flex-grow">
                <h3 class="mb-4 text-2xl font-bold font-heading text-primaryText">
                  {title}
                </h3>
                <p class="text-secondaryText leading-loose mb-4 flex-grow">
                  {description}
                </p>
                <span class="text-xs text-gray-300">⏳ Read in {readtime} minutes</span>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>
</section>
