---
import { getCollection } from 'astro:content';

const Inter = await getCollection('Inter');
---
<section class="">
  <section aria-label="Cursos Web3 Intermedios">
    <div class="px-4 mx-auto">
      <div class="grid gap-6 md:grid-cols-2">
        {Inter.map(({ slug, data: { title, img, readtime, description } }) => (
          <article class="flex justify-evenly bg-bgDark3 rounded-3xl p-6 hover:bg-bgDark3Hover transition cursor-pointer">
            <a href={`/libro/${slug}`} class="mb-2 xl:mb-0 transition group">
              <img 
                class="mr-5 w-48 rounded transition-transform duration-300 group-hover:scale-105" 
                src={`/${img}`} 
                alt={title} 
              />
            </a>
            <div class="flex flex-col justify-center">
              <h2 class="mb-2 text-2xl font-bold leading-tight text-white">{title}</h2>
              <p class="mb-4 text-gray-300 max-w-sm">{description}</p>
              <span class="text-xs text-gray-300">⏳ Lectura en {readtime} minutos</span>
            </div>
          </article>
        ))}
      </div>
    </div>
  </section>
</section>
